<section class="card">
    <!-- The card contains the vehicle make and model as the card header -->
    <header>{{make}},{{model}}</header>
    <header>{{vin}}</header>
    <!-- In the body of the card, the vehicle is rendered along with the year, engine and mileage -->

    <div class="card-body">
        <p>Year: {{year}}</p>
        <p>Engine Type: {{engine}}</p>
        <p>Mileage: {{mileage}} miles</p>
    </div>
  </a>
</section>
