<div class="text-center single-vehicle-card">
  <section class="text-center vehicle-info">
    <section class="text-center">
      <p class="driver">Driver: {{driver}}</p>  
      <p class="make"> Make: {{make}}</p>
      <p class="model">Model: {{model}}</p>
    </section>
    <section class="text-center">
      <p class="year">Year: {{year}}</p>
      <p class="mileage">Car Mileage: {{mileage}}</p>
    </section>
  </section>
  <section class="text-center vehicle-notes">
    <p>Notes:</p>
    <p>{{notes}}</p>
  </section>
</div>
