<div class="text-center">
  <h2>car model:{{model}}</h2>
  <p> year: {{year}}</p>
  <p>car mileage: {{mileage}}</p>
  <p> {{user.name}} searched for {{make}}</p>
  <p>

    <span class="mile-amount">{{mileage}}</span>
    miles currently
  </p>
</div>
