<<<<<<< HEAD
{{!-- Single vehicle page is left behind for now. Looking to implement a sort of note taker. --}}
=======
<div class="text-center">
  <h2>car model:{{model}}</h2>
  <p> year: {{year}}</p>
  <p>car mileage: {{mileage}}</p>
  <p> {{user.name}} searched for {{make}}</p>
  <p>

    <span class="mile-amount">{{mileage}}</span>
    miles currently
  </p>
</div>
>>>>>>> dca26d3cbf0371e938d76e34a77d1f8dc134dac2
